<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: isDisplayed() -->
<div class="c-card-summary__amount c-card-summary__total">

    <h4 class="mark" scope="row">
        <strong data-bind="i18n: title"></strong>
    </h4>

    <p
        class="amount"
        data-bind="attr: {'data-th': $t(title)}"
    >
        <strong>
            <span
                class="price"
                data-bind="text: getValue()"
            >
            </span>
        </strong>
        <!-- ko foreach: elems() -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </p>

</div>
<!-- /ko -->
