<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <vassservicios>
            <customerinformation>
                <customerinformationselect>test</customerinformationselect>
                <customerinformationproduction>magento/telefonica/customer/v1/customerDetail</customerinformationproduction>
                <customerinformationtest>magento/telefonica/customer/v1/customerDetail</customerinformationtest>
            </customerinformation>
            <checkblacklist>
                <checkblacklistselect>test</checkblacklistselect>
                <checkblacklistproduction>magento/telefonica/service/v1/check-black-list</checkblacklistproduction>
                <checkblacklisttest>magento/telefonica/service/v1/check-black-list</checkblacklisttest>
            </checkblacklist>
            <checkavibility>
                <checkavibilityselect>test</checkavibilityselect>
                <checkavibilityproduction>magento/telefonica/service/v1/check-availability</checkavibilityproduction>
                <checkavibilitytest>magento/telefonica/service/v1/check-availability</checkavibilitytest>
                <checkavibilityplantcode>CO24</checkavibilityplantcode>
            </checkavibility>
            <contaclog>
                <contaclogselect>test</contaclogselect>
                <contaclogproduction>magento/telefonica/customer/v1/createInteraction</contaclogproduction>
                <contaclogtest>magento/telefonica/customer/v1/createInteraction</contaclogtest>
            </contaclog>
            <busihalllist>
                <busihalllistselect>test</busihalllistselect>
                <busihalllistproduction>magento/telefonica/service/v1/busi-hall-list</busihalllistproduction>
                <busihalllisttest>magento/telefonica/service/v1/busi-hall-list</busihalllisttest>
            </busihalllist>
            <subscriberdetail>
                <subscriberdetailselect>test</subscriberdetailselect>
                <subscriberdetailproduction>magento/telefonica/subscriber/v1/subscriberDetail</subscriberdetailproduction>
                <subscriberdetailtest>magento/telefonica/subscriber/v1/subscriberDetail</subscriberdetailtest>
            </subscriberdetail>
            <warehouselist>
                <warehouselistselect>test</warehouselistselect>
                <warehouselisttest>magento/telefonica/resource/v1/ware-house-list</warehouselisttest>
            </warehouselist>
            <arrivaltime>
                <arrivaltimeselect>test</arrivaltimeselect>
                <arrivaltimeproduction>magento/telefonica/service/v1/logistics/arrival-time</arrivaltimeproduction>
                <arrivaltimetest>magento/telefonica/service/v1/logistics/arrival-time</arrivaltimetest>
            </arrivaltime>
            <holiday>
                <holidayselect>test</holidayselect>
                <holidayproduction>magento/telefonica/service/v1/holiday</holidayproduction>
                <holidaytest>magento/telefonica/service/v1/holiday</holidaytest>
            </holiday>
            <offerfee>
                <offerfeeselect>test</offerfeeselect>
                <offerfeeproduction>magento/telefonica/service/v1/offerFee</offerfeeproduction>
                <offerfeetest>magento/telefonica/service/v1/offerFee</offerfeetest>
            </offerfee>
            <offerinstall>
                <offerinstallselect>test</offerinstallselect>
                <offerinstallproduction>magento/telefonica/resource/v1/offer/Installment</offerinstallproduction>
                <offerinstalltest>magento/telefonica/resource/v1/offer/Installment</offerinstalltest>
            </offerinstall>
            <firstpayment>
                <firstpaymentselect>test</firstpaymentselect>
                <firstpaymentproduction>magento/telefonica/service/v1/calculateFirstPaymentForInstallment</firstpaymentproduction>
                <firstpaymenttest>magento/telefonica/service/v1/calculateFirstPaymentForInstallment</firstpaymenttest>
            </firstpayment>
            <validatepinsms>
                <validatepinsmsselect>test</validatepinsmsselect>
                <validatepinsmsproduction>magento/api/validate_sms</validatepinsmsproduction>
                <validatepinsmstest>magento/api/validate_sms</validatepinsmstest>
            </validatepinsms>
        </vassservicios>
    </default>
</config>
