// fuentes de ícono
/**
* Font family: fuentes de ícono Escuela
* @nuclide Variables
* @section Settings > Font family
*/
$font-family-ico: "ico-movistar" !default;

// V 1.0

$i-arrow-down: "\e900";
$i-arrow-left: "\e901";
$i-arrow-right: "\e902";
$i-arrow-up: "\e903";
$i-camera: "\e904";
$i-card: "\e905";
$i-chevron-down: "\e906";
$i-chevron-left: "\e907";
$i-chevron-right: "\e908";
$i-chevron-up: "\e909";
$i-close: "\e90a";
$i-electronics: "\e90b";
$i-facebook: "\e90c";
$i-gamepad: "\e90d";
$i-headphones: "\e90e";
$i-home: "\e90f";
$i-instagram: "\e910";
$i-laptop: "\e911";
$i-lock: "\e912";
$i-menu: "\e913";
$i-microphone: "\e914";
$i-mouse: "\e915";
$i-optical-fiber: "\e916";
$i-paper-value: "\e917";
$i-pc: "\e918";
$i-phone-arrow-up: "\e919";
$i-phone-dollar-center: "\e91a";
$i-phone-dollar: "\e91b";
$i-phone: "\e91c";
$i-plane: "\e91d";
$i-play-square: "\e91e";
$i-plus-circle: "\e91f";
$i-shopping-cart: "\e920";
$i-twitter: "\e921";
$i-user: "\e922";
$i-whatsapp: "\e923";
$i-bullhorn: "\e929";
$i-covid: "\e924";
$i-comment-lines: "\e925";
$i-support: "\e927";
$i-headset: "\e928";
$i-cloud: "\e92a";
$i-play-circle: "\e92b";
$i-building: "\e926";
$i-paper-dollar: "\e92c";

// V 1.1

$i-search: "\e92d";

// V 1.2

$i-bars-triangle: "\e92e";
$i-sorter: "\e92f";
$i-credit-card: "\e930";
$i-truck: "\e931";
$i-badge-percent: "\e932";
$i-lock-fill: "\e933";

// V 1.3

$i-truck-stroke: "\e934";
$i-home-stroke: "\e935";
$i-information: "\e936";
$i-paper: "\e937";
$i-movistar-money: "\e938";

// V 1.4

$i-processor: "\e939";
$i-batery: "\e93a";
$i-ram: "\e93b";
$i-dimensions: "\e93c";
$i-frontal-camera: "\e93d";
$i-rear-camera: "\e93e";

// V 1.5

$i-phone-key: "\e93f";
$i-download: "\e940";
$i-mail: "\e941";
$i-paper-movistar: "\e942";
$i-car: "\e943";
$i-credential: "\e944";
$i-credit-card-stroke: "\e945";
$i-eye: "\e946";
$i-eye-slash: "\e947";
$i-check-square: "\e948";
$i-calendar: "\e949";
$i-pin: "\e94a";
$i-pencil: "\e94b";
$i-check: "\e94c";
$i-inverted-triangle: "\e94d";

// V 1.6

$i-user-plus: "\e94e";

// V 1.7

$i-telephone: "\e94f";

// V 1.8

$i-close-square: "\e950";

// V 1.9
$i-lock-code: "\e951";
$i-pin-way: "\e952";
$i-phone-message: "\e953";

// V 2.0
$i-load-arrow: "\e956";
$i-pencil-strong: "\e954";
$i-paper-movistar-dollar: "\e955";

// V 2.1
$i-calendar-strong: "\e957";
$i-clip: "\e958";
$i-paperclip: "\e957";

// V 2.2
$i-double-arrow-right: "\e959";