<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <vassmenu>
            <general>
                <enable_search>0</enable_search>
                <enable_marcas>1</enable_marcas>
                <enable_entrete>1</enable_entrete>
            </general>
        </vassmenu>
    </default>
</config>