<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="vass" translate="label" sortOrder="10">
            <label>Vass</label>
        </tab>
        <section id="vassmenu" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Menu</label>
            <tab>vass</tab>
            <resource>Vass_Menu::menu_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>General Configuration</label>                
                <field id="link_mimovistar" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Link Mi Movistar</label>
                    <comment>Link del boton del menu.</comment>
                </field>
                <field id="link_recarga" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Link Recargas</label>
                     <comment>Link del boton del menu.</comment>
                </field>
                <field id="enable_search" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Boton Search</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_marcas" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable List Marcas</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_entrete" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable List Entretenimiento</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                
            </group>
        </section>
    </system>
</config>