<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <vassproductos>
            <general>
                <cuotas>12</cuotas>
                <productoSugeridos>12</productoSugeridos>
                <productoSugeridosSearch>4</productoSugeridosSearch>
            </general>
        </vassproductos>
        <vasscheckout>
            <envioconfiguration>
                <enable_retiro>1</enable_retiro>                
            </envioconfiguration>
        </vasscheckout>
    </default>
</config>
